################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/personal-website/FileContentIndex/808a3c3a-bd78-4ce4-8414-a6fb61c1d17c.vsidx
/.vs/personal-website/FileContentIndex
/.vs/personal-website/v17
/.vs
